<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        const socket = new WebSocket('ws://localhost:8000/ws/location/');

        socket.onopen = function() {
            console.log('WebSocket connection established.');
            socket.send(JSON.stringify({ message: 'Hello, server!' })); // Send a message
        };

        socket.onmessage = function(event) {
            console.log('Message from server:', event.data); // Log messages from the server
        };

        socket.onclose = function() {
            console.log('WebSocket connection closed.');
        };

        socket.onerror = function(error) {
            console.error('WebSocket error:', error);
        };
    </script>

</head>
<body>
    <ul id="list">
    </ul>
</body>
</html>